{%extends 'app/base.html'%}

{% block content %}
</br>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<style >
	.container1{
		position: absolute;
		height: 140px;
		width: 200px;
		background-color: #40739e;
		left:200px;
		top: 700px;
		transform:translate(-50%,-50%);
		padding: 20px 10px;
		box-shadow: 2px 2px 20px rgba(0,0,0,1)

	}
	.container1 #operation{
		font-size: 22px;
		font-weight: bold;
		color:white;
	}

	.container1 #input_val{
		height: 32px;
		width: 140px;
		font-size: 20px;
		font-weight: bold;
	}
	.container1 #btn{
		height: 30px;
		width:120px;
		color: white;
		font-size: 20px;
		background-color: #487bb0;
		cursor:pointer;
		border: 1px solid white;
	}
</style>
    <form method="post">
    	<div class="form-vertical">
        {%csrf_token%}
        {{form.as_p}}
    </div>

    <div class="container1" >
    	<h4>Enter the result</h4>
    	<p id="operation">

    	<span id="num1">{{fnum}}</span>  {{oper}} <span id="num2">{{snum}} =</span><br/>
    	<input type="text" id="input_val" name="answer"/></p></div>
<br/><br/><br/><br/><br/><br/>
        <button class="btn btn-primary">Sign Up</button>
    </form>
    
{% endblock %}